<!DOCTYPE html>

<html>

<head>
  <title>about</title>
  <link rel="icon" href="/img/image.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
      <img class="portrait"src="https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fweather&psig=AOvVaw32O6UqY6FtQ8WGcuNGNglE&ust=1632629457973000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPCjiOmgmfMCFQAAAAAdAAAAABAJ">
  </div>

  {{>footer}}
</body>

</html>
